## Overview of the DataSet

This data was downloaded from the Redfin website on March 15, 2022. It includes all Redfin property listings in Dakota County, Minnesota. Listings that were for land only were filtered out.

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 12.2 MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-linux_x86_64.whl size=1159949 sha256=d2ee4bc4398c76c7d0edbb55704f42adbb9eda97cea7d5ac82037950dc78a860
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/5b/43/0d/de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.27
    Uninstalling SQLAlchemy-1.4.27:
      Successfully uninstalled SQLAlchemy-1.4.27
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm_db_sa) (3.1.0)
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.15.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.6 MB/s  eta 0:00:01
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=4fe928a92199317f1c74fd30f0bce72a6a0284181e494bbac8649e24c6d4dab4
  Stored in directory: /tmp/wsuser/.cache/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

### Connect to the database

First load the SQL extension and establish a connection with the database

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql ibm_db_sa://bbp14913:uKd8YwalxSe13NCG@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB?security=SSL


### Task 1

##### Display the names of the unique cities for listings

In [36]:
%sql select distinct(CITY), count(*) as total_properties from REDFIN group by CITY order by COUNT desc

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[('Lakeville', 106),
 ('Rosemount', 46),
 ('Inver Grove Heights', 38),
 ('Eagan', 34),
 ('Burnsville', 30),
 ('Farmington', 30),
 ('Apple Valley', 22),
 ('Hastings', 14),
 ('South Saint Paul', 9),
 ('Mendota Heights', 6),
 ('West Saint Paul', 6),
 ('Northfield', 5),
 ('Welch', 2),
 ('Hampton', 1),
 ('Sunfish Lake', 1)]

### Task 2

##### Display the different property types

In [9]:
%sql select distinct(PROPERTY_TYPE),count(*) as total from REDFIN group by PROPERTY_TYPE

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[('Condo/Co-op', 20),
 ('Multi-Family (2-4 Unit)', 5),
 ('Other', 2),
 ('Single Family Residential', 244),
 ('Townhouse', 79)]

### Task 3

##### Investigate "Other" and "Multi-family" property type

In [17]:
%sql select * from REDFIN where (PROPERTY_TYPE like 'Other%') or (PROPERTY_TYPE like 'Multi-Family%')

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[('MLS Listing', 'Multi-Family (2-4 Unit)', '15713 Maple Island Ct', 'Burnsville', 'MN', 55306, 369900, 4, 3, 'Burnsville', 2540, 7405, 1990, 4, 146, None, 'https://www.redfin.com/MN/Burnsville/15713-Maple-Island-Ct-55306/home/50696845', 'NORTHSTARMLS', 6162990, Decimal('44.71876000'), Decimal('-93.27797900')),
 ('MLS Listing', 'Other', '3100 Riverwood Dr #102', 'Hastings', 'MN', 55033, 165000, 2, 1, 'Hastings', 983, None, 1988, 4, 168, 250, 'https://www.redfin.com/MN/Hastings/3100-Riverwood-Dr-55033/unit-102/home/50727159', 'NORTHSTARMLS', 6161772, Decimal('44.71705580'), Decimal('-92.86873830')),
 ('MLS Listing', 'Multi-Family (2-4 Unit)', '3XX South Street W St W Unit A', 'South Saint Paul', 'MN', 55075, 349000, 2, 2, 'South Street Flats', 1158, 3920, 2022, 19, 301, 210, 'https://www.redfin.com/MN/South-St-Paul/3XX-South-Street-W-ST-W-55075/unit-A/home/178417511', 'NORTHSTARMLS', 6156204, Decimal('44.86560472'), Decimal('-93.03878616')),
 ('MLS Listing', 'Other', '6578 154th St W #131', 'Apple Valley', 'MN', 55124, 270000, 2, 1, 'Apple Valley', 1426, None, 2001, 26, 189, 112, 'https://www.redfin.com/MN/Apple-Valley/6578-154th-St-W-55124/unit-131/home/50771861', 'NORTHSTARMLS', 6153920, Decimal('44.72569420'), Decimal('-93.20017260')),
 ('MLS Listing', 'Multi-Family (2-4 Unit)', '1020 5th Ave S Unit B', 'South Saint Paul', 'MN', 55075, 379900, 4, 3, 'South Saint Paul', 2184, 9888, 2021, 53, 174, None, 'https://www.redfin.com/MN/South-St-Paul/1020-5th-Ave-S-55075/unit-B/home/175223009', 'NORTHSTARMLS', 6144540, Decimal('44.87374700'), Decimal('-93.04026100')),
 ('MLS Listing', 'Multi-Family (2-4 Unit)', '1020 5th Ave S Unit A', 'South Saint Paul', 'MN', 55075, 379900, 4, 3, 'South Saint Paul', 2184, 9888, 2021, 53, 174, None, 'https://www.redfin.com/MN/South-St-Paul/1020-5th-Ave-S-55075/unit-A/home/174610700', 'NORTHSTARMLS', 6144352, Decimal('44.87374700'), Decimal('-93.04026100')),
 ('MLS Listing', 'Multi-Family (2-4 Unit)', '3871 Gold Pt Unit B', 'Eagan', 'MN', 55122, 239000, 2, 1, 'Eagan', 1572, None, 1898, 66, 152, 275, 'https://www.redfin.com/MN/Eagan/3871-Gold-Pt-55122/unit-B/home/177795299', 'NORTHSTARMLS', 6140558, Decimal('44.81666700'), Decimal('-93.20532500'))]

After further investigation, the two "Other" properties were not correctly classified. The property on 154th Street should be of type "Townhouse" and the property on Riverwood Drive should be of type "Condo/Co-op".

### Task 4

##### Determine minimum and maximum prices

In [12]:
%sql select min(price) as min_price, max(price) as max_price from REDFIN

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(62705, 2500000)]

### Task 5

##### Determine minimum and maximum square footage

In [13]:
%sql select min(square_feet) as min_sq_ft, max(square_feet) as max_sq_ft from REDFIN

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(650, 8887)]

### Task 6

##### Determine oldest home and newest home

In [19]:
%sql select min(YEAR_BUILT) as oldest, max(YEAR_BUILT) as newest from REDFIN

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(1873, 2022)]

In [27]:
%sql select YEAR_BUILT , count(*) as total_properties from REDFIN group by YEAR_BUILT order by YEAR_BUILT desc

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(2022, 115),
 (2021, 62),
 (2020, 6),
 (2019, 4),
 (2018, 8),
 (2017, 2),
 (2016, 2),
 (2015, 1),
 (2014, 2),
 (2013, 3),
 (2010, 2),
 (2007, 3),
 (2006, 1),
 (2005, 6),
 (2004, 9),
 (2003, 4),
 (2002, 4),
 (2001, 2),
 (2000, 4),
 (1999, 4),
 (1998, 2),
 (1997, 2),
 (1996, 2),
 (1995, 3),
 (1994, 4),
 (1993, 1),
 (1992, 1),
 (1991, 3),
 (1990, 4),
 (1989, 2),
 (1988, 6),
 (1987, 4),
 (1986, 2),
 (1985, 2),
 (1982, 3),
 (1981, 2),
 (1980, 3),
 (1979, 1),
 (1978, 2),
 (1977, 3),
 (1976, 3),
 (1975, 1),
 (1974, 1),
 (1973, 2),
 (1972, 5),
 (1971, 2),
 (1970, 7),
 (1969, 2),
 (1965, 2),
 (1964, 1),
 (1963, 4),
 (1961, 2),
 (1960, 1),
 (1959, 3),
 (1958, 2),
 (1957, 1),
 (1956, 1),
 (1955, 1),
 (1953, 1),
 (1945, 1),
 (1940, 1),
 (1937, 1),
 (1936, 1),
 (1932, 1),
 (1923, 1),
 (1920, 1),
 (1916, 1),
 (1900, 1),
 (1898, 1),
 (1875, 1),
 (1873, 1)]

### Task 7

##### Determine ranges for bedrooms and bathrooms

In [28]:
%sql select beds,count(*) as total_properties from REDFIN group by beds

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(1, 8), (2, 59), (3, 113), (4, 103), (5, 61), (6, 6)]

In [29]:
%sql select baths,count(*) as total_properties from REDFIN group by baths

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(1, 25), (2, 104), (3, 144), (4, 57), (5, 17), (6, 2), (8, 1)]

### Task 8

##### Determine range of lot sizes

In [31]:
%sql select LOT_SIZE as min_lot, count(*) as number_properties from REDFIN where LOT_SIZE = (select min(LOT_SIZE) from REDFIN) group by LOT_SIZE

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(784, 1)]

In [32]:
%sql select LOT_SIZE as max_lot, count(*) as number_properties from REDFIN where LOT_SIZE = (select max(LOT_SIZE) from REDFIN) group by LOT_SIZE

 * ibm_db_sa://bbp14913:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/BLUDB
Done.

[(1132560, 1)]